<div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>原创方列表</h5>
        </div>
        <div class="ibox-content">
          <div class="clients-list">
            <div class="full-height-scroll">
                <%= render 'kols' %>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="pull-right">
          <strong>GonPush.com</strong> &copy; 2018
        </div>
      </div>
        <script>
        function checkkol(creatorid){
           window.location.href="/creatorinfo?creator_id="+creatorid;
        }
        function editInfo(creatorid,type){
          if(type=='price'){
           window.location.href="/inviterequired?creator_id="+creatorid;
         }else if(type=='service'){
window.location.href="/services?creator_id="+creatorid;
         }else if(type=='account'){
window.location.href="/social_accounts?creator_id="+creatorid;
         }
         else if(type=='metric'){
window.location.href="/creator_metrics?creator_id="+creatorid;
         }
          }
      </script>

 

 
